# begin
snippet b
	\begin{${1:equation*}}
	  ${2}
	\end{$1}

# fraction
snippet f
	\frac{${1}}{${2}}${3}
#
# subequation
snippet se
	\begin{subequations*}
	\begin{align}
	   ${1}
	\end{align}
	\end{subequations}
#
# vector
snippet v
	\ve{${1}}${2}
#
# time_derivative vector
snippet dv
	\dot{\ve{${1}}}${2}
#
