# added Vim snippets for C

#Licensed under the "THE BEER-WARE LICENSE" (Revision 42):
#can do whatever you want with this stuff. If we meet some day, and you think
#this stuff is worth it, you can buy me a beer or coffee in return- Sudar

snippet i1
	int8_t ${1}
snippet u1
	uint8_t ${1}
snippet i2
	int16_t ${1}
snippet u2
	uint16_t ${1}
snippet i3
	int32_t ${1}
snippet u3
	uint32_t ${1}
